@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
:root {
  --primary-color: #ee5522;
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  margin: 20px 20px 10px 25px;
  padding: 20px;
  position: relative;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.container#header {
  display: block;
  display: inline-block;
  text-align: center;
  margin: -10px 20px 10px 25px;
  padding: 0px 10px;
  position: relative;
  background-color: #fff;
  max-width: fit-content;
}

.container#header h1 {
  margin: 5px 10px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

img#principal {
  border: 1.5mm solid rgb(255, 255, 255);
  border-radius: 50%;
  height: 350px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#banner {
  text-align: center;
}

/*****************************/
/*Sidebar*/

.sidebar-btn {
  position: fixed;
  height: 50px;
  width: 60px;
  top: 0;
  margin: 20px 20px;
  background: #111;
  border-radius: 10px;
}

.sidebar{
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #111;
  padding-top: 75px;
  margin: 0 20px 0 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar h1{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Rubik";
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}

.sidebar a{
  display: block;
  padding: 10px 20px;
  color: #bbb;
  text-decoration: none;
  font-family: "Rubik";
  letter-spacing: 2px;
}

.sidebar a:hover{
  color: #fff;
  margin-left: 20px;
  transition: 0.4s;
}